.CartContainer {
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 120px;
  border-top: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CartContentWrapper {
  margin-left: 240px;
  margin-right: 240px;
}

.CartHeadingWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  text-align: left;
  color: #6a6a6a;
  width: 100%;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.CartColumnName {
  width: auto;
}
.CartColumnTwo {
  text-align: right;
}

.CartRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgb(235, 234, 234);
}

.CartImageAndNameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CartImage {
  overflow: hidden;
  max-width: 100px;
  margin: 10px;
}

.CartImage img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.CartNameAndQuantityWrapper {
  text-align: left;
}

.CartPriceAndRemoveWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.CartRemove {
  text-align: left;
  cursor: pointer;
  letter-spacing: 0;
  width: 40px;
}

.CartRemove p:hover {
  text-align: left;
  text-decoration: underline;
}

.CartTotal {
  text-align: right;
  border-top: 1px solid rgb(179, 179, 179);
}

@media (max-width: 1350px) {
  .CartContentWrapper {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 1050px) {
  .CartContentWrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 820px) {
  .CartContainer {
    margin-left: 30px;
    margin-right: 30px;
  }
}
